.iphone{
  background-image: url('../src/assets/images/smartphone.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.sale{
  background-image: url('../src/assets/images/sales.svg');
  background-repeat: no-repeat;
  background-size: cover;
}
.redes{
  background-image: linear-gradient(
      120deg
      ,#f26798 0%,#3023ae 100%);;

}
.bg-color{
  background-color: #233554;
}